In [9]:
input_str='dme#ulmhbiai'
message1=input_str[0::2]
message2=input_str[1::2]
print(message1+","+message2)

deumba,m#lhii

In [10]:
message1 = input_str[0::2]
message2 = input_str[1::2]
print(message1.strip('#') + "," + message2.strip('#'))

deumba,m#lhii

In [16]:
x='banana'
print(x.strip('n'))

banana

In [17]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [18]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [1]:
s= 'I want to learn Data Science'

print(s[:6])

I want

In [2]:
nums = [1,1,2,3,3,3,4]
s= set(nums)
print(len(s))

4

In [7]:
a=10
b=16
c=20
if a<b and a>c:
    print("a")
elif b>a and b>c:
    print("b")
else:
     print("c")

c

In [8]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [9]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [12]:
input_str = 'aplha'
if (input_str=='a'or input_str=='e' or input_str=='i'or input_str=='o'or input_str=='u' or input_str=='A'or input_str=='E' or input_str=='I'or input_str=='O'or input_str=='U'):
    print('YES')
else:
    print('NO')

NO

In [1]:
import ast,sys
input_str = sys.stdin.read()

if input_str[0] in ['a','e','i','o','u','A','E','I','O','U']:
    print('YES')
else:
    print('NO')

IndexError: string index out of range

In [7]:
students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
for values in students_data.values():
    print(values[1])

24
25
26
24
27

In [8]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [9]:
sorted(set(range(-2, -101, -2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [10]:
list(range(-100, -1, 2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [11]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [19]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
l2=[i.upper() for i in l1 ]
l2

['AUTOMOBILES', 'HONDA', 'BENZ', 'SUZUKI', 'MORRIS GARAGES']

In [20]:
ordinary_dict ={}

for i in range(2,21):
    if i % 2 == 0:
        ordinary_dict[i] = i**2

print(ordinary_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [33]:
n = int(input())
l1=[i for i in range (1,n+1) i**=2 ]
print(l1)

SyntaxError: invalid syntax (1328428334.py, line 2)

In [31]:
n = int(input())
l1=[]
for i in range(1,n+1):
    i**=2
    l1.append(i)
print(l1)

4
[1, 4, 9, 16]

In [36]:
a=['wood','old','apple','big','item','euphoria']
b=[]
for i in a:
    if i[0] in ('a e i o u A E I O U'):
        b.append(i)
print(b)

['old', 'apple', 'item', 'euphoria']

In [37]:
b=[i for i in a if i[0] in ('aeiouAEIOU')]
b

['old', 'apple', 'item', 'euphoria']

In [3]:
input_list = list(range(1,10))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3
print(output_dict)

{3: 27, 6: 216, 9: 729}

In [2]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [1]:
class A :
    x = 10
    def __init__(self, y,z):
        self.y = y
        self.z = z
           
    def update_y(self):
        self.y = self.y * self.x
        self.z = self.z * self.x
        
A1 = A(3,4)
A2 = A(5,6)

A1.update_y()
A1.y + A2.z

36

In [2]:
class A :
    x = 10
    def __init__(self, y,z):
        self.y = y
        self.z = z
           
    def update_y(self):
        self.y = self.y * self.x
   
    @classmethod
    def update_z(cls):
        self.z = self.z + 20

        
A1 = A(3,4)
A2 = A(5,6)

A2.update_z()
A1.y + A2.z

NameError: name 'self' is not defined

In [3]:
class A:
    def __init__(self, x=1):
        self.x = x
class B(A):
    def __init__(self,y =2):
        super().__init__()
        self.y = y

def main():
    b = B()
    print(b.x,b.y)
main()

1 2

In [5]:
((500//7) % 5) ** 3

1

In [7]:
T = (3, 5, 7, 11)
T.append(9)
T

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
S = 'I love Python'
S[2:6]

'love'

In [10]:
S[-11:-7]

'love'

In [11]:
S[-11:-8]

'lov'

In [12]:
3 * 3 ** 3

81

In [13]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

y

In [14]:
l = [32, 34, 12, 27, 33]
l.append([14, 19])
print(len(l))

6

In [15]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [16]:
print(list(range(10, 1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [17]:
for i in range(3):
    print(i)

0
1
2

In [18]:
print('11 12 13 \n14')

11 12 13
14

In [19]:
a=11

b=12

c=13 

d=14

print(a+b+c)

print(d)

36
14

In [20]:
a=11

b=12

c=13 

d=14

print(a,b,c)

print(d)

11 12 13
14

In [21]:
a=11

b=12

c=13 

d=14

print('{0} {1} {2}'.format(a,b,c) )

print(d)

11 12 13
14

In [22]:
a=11

b=12

c=13 

d=14

print('%d %d %d' %(a,b,c))

print(d)

11 12 13
14

In [23]:
a=11

b=12

c=13 

d=14

print(f'{a}{b}{c}')

print(d)

111213
14

In [1]:
L = [1, 2, 3, 4]
def cube_func(n):
    return n**3
print(list(map(cube_func, L)))

[1, 8, 27, 64]

In [2]:
L = [13, 16, 2, 19, 22, 24, 10, 49, 28, 82, 18]
final = []

for i in range(len(L)):
    if L[i]%9 == 1:
        final.append(L[i])

print(final)

[19, 10, 28, 82]

In [3]:
l = [0, 8, 16, 10, 36, 44, 93]

final = [int(x**0.5) for x in l if x**0.5 - int(x**0.5) == 0]
        
print(final)

[0, 4, 6]

In [4]:
print(chr(51))

3

In [9]:

chr(123)

'{'

In [12]:
'G'.join(['up','rad'])

'upGrad'

In [14]:
s='aabupGradaab'.strip('aab')

In [15]:
s

'upGrad'

In [16]:
s='aabupGradaab'.strip('a').strip('b').strip('a')
s

'upGrad'

In [1]:
print("Hello World"[::-1])

dlroW olleH

In [3]:
S = 'Python'
S[1]='i'
S

TypeError: 'str' object does not support item assignment

In [4]:
s = 'I love Python'
s = s.split(" ")
s = s[-1::-1]
s = " ".join(s)
        
print(s)

Python love I

In [5]:
d={'a'=1, 'b'=2}

SyntaxError: invalid syntax (3525648346.py, line 1)

In [6]:
d={'a':1, 'b':2}

In [7]:
d

{'a': 1, 'b': 2}

In [9]:
d = {}

In [10]:
d=dict(a=1, b=2)
d

{'a': 1, 'b': 2}

In [11]:
d={'a':64, 'b':65, 'c':66, 'd':67}
print(d['e'])

KeyError: 'e'

In [12]:
d={'a':64, 'b':65, 'c':66, 'd':67}
print(d.keys())

dict_keys(['a', 'b', 'c', 'd'])

In [1]:
a = 7

def func(a):
    print('a is', a)
    a = 4
    print('a is now', a)
    
func(a)
print('a is finally', a)

a is 7
a is now 4
a is finally 7

In [2]:
d = {1:2, 2:3, 3:4}
d.pop(2)
print(d)

{1: 2, 3: 4}

In [3]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
print(a ^ b)

{1, 2, 5, 6}